.info-img{

    background-size: cover;
    display: block;
    border-radius: 10px;
}

.header-date{
    font-size: medium;
}

.overview{
    font-size: medium;
}

.cast-img{
    width: 75px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
 
    background-size: cover;
    display: block;
    border-radius: 20px;
}

.cast-card{
    text-align: center;
    font-size: 12px;
}

.header-card{
    font-size: 15px;
}

.header{
    padding-left: 20px;
    font-size: 17px;
    color: #8f8f8f;
}
