<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Movies To Watch
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Movies To Watch</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngFor="let item of movies_want">
    <ion-item [routerLink]="'/tabs/tab1/' + item.id">
      <ion-avatar slot="start">
        <img [src]='item.image'>
      </ion-avatar>

      <ion-label text-wrap>
        <h3>{{item.name}}</h3>
        {{item.year}}
      </ion-label>
    </ion-item>  
  </ion-list>


</ion-content>
