

<ion-header  mode="ios">
  <ion-toolbar color="primary">
    <ion-title>
      Movie Search
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> 
      <ion-menu-button menu="main-menu"></ion-menu-button> 
    </ion-buttons>
  </ion-toolbar>

 <br>
  <ion-toolbar>
    <ion-searchbar mode="ios" [(ngModel)]="searchTerm" 
  (ionChange)="searchChanged($event)"></ion-searchbar>
  </ion-toolbar>

</ion-header>
















<ion-content [fullscreen]="true">
  <ion-list *ngFor="let item of moviesArray">
    <ion-item [routerLink]="'/tabs/tab1/' + item.id">
      <ion-avatar slot="start">
        <img [src]='"https://image.tmdb.org/t/p/w500" + item.poster_path' 
        *ngIf="item.poster_path != null">
      </ion-avatar>

      <ion-label text-wrap>
        <h2 color="secondary">{{item.original_title}}</h2>
        {{item.release_date}}
      </ion-label>
    </ion-item>  
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
