<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Movie Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Movie Search</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar [(ngModel)]="searchTerm" 
  (ionChange)="searchChanged($event)"></ion-searchbar>

  <ion-list *ngFor="let item of resultsArray">
    <ion-item [routerLink]="'/tabs/tab1/' + item.id">
      <ion-avatar slot="start">
        <img [src]='"https://image.tmdb.org/t/p/w500" + item.poster_path' 
        *ngIf="item.poster_path != null">
      </ion-avatar>

      <ion-label text-wrap>
        <h3>{{item.original_title}}</h3>
        {{item.release_date}}
      </ion-label>
    </ion-item>  
  </ion-list>
</ion-content>
