<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Capacitor Storage</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand='full' (click)='setStorage()'>Set Storage</ion-button>
  <ion-button expand='full' (click)='showStorage()'>Show Storage</ion-button>
  <ion-button expand='full' (click)='clearStorage()'>Clear Storage</ion-button>
</ion-content>
